# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment
.env
.env.local

# Runtime data
*.log
*.err
backend/storage/

# Frontend
node_modules/
dist/
coverage/

# OS
.DS_Store

# IDE
.vscode/
.idea/
.omx/
.venv/
venv/
src_w_solution/
